<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Que quieres hacer?</p>
    <hr class="my-4">
    <nav class="navbar bg-light">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button"><a href="/calculadora">Calculadora</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/tablas">Tablas</a></button>
      </form>
    </nav>
</body>
</html>
  